<h1>Recipes</h1>

<div class="container-fluid border p-3 mb-4">
  <% @recipes.each do |recipe| %>
    <div id="recipes">
      <p>
        <%= link_to recipe.name, recipe %>
      </p>

      <p>
        <%= recipe.description.split[0...30].join(' ').truncate(150) %>      
      </p>

      <%= button_to "Remove", recipe, method: :delete, class: 'btn btn-outline-danger' %>
    </div>
  <% end %>
</div>
